// FONT
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


// COLORI
$black-bg: #141414;
$gray: #3a3a3a;
$logo-red: #e50914;

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// GENERALE

body * {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 0 3rem;
}


// SCROLLBAR

::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
}

::-webkit-scrollbar-track {
    background: $gray;
}

::-webkit-scrollbar-thumb {
    background: white;
    &:hover {
        background: $logo-red;
    }
}